
.resultado-card {
  margin-top: 15px;
  border: 1px solid #3b82f6;
  border-radius: 8px;
  background-color: #f0f8ff; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.text-red {
  color: red;
}

ion-button {
  margin-top: 10px;
  font-weight: bold;
  background-color: #3b82f6;
  color: white;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  margin: 0;
}

ion-card {
  max-width: 400px; 
  width: 100%; 
  margin: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.responsive-img {
  display: block;
  margin: 0 auto 15px;
  max-width: 200px;
  height: auto;
}

ion-item {
  display: block; 
  font-size: 1.8em;
  text-align: center;
}

ion-title {
  text-align: center;
  font-weight: bold;
  font-size: 2.4em;
  margin-top: 10px;
  color: rgb(48, 12, 210);
}

ion-card-title{
  text-align: center;
}